@page "/"
@using AkkuCalc.Services

@inject NumberPartitioningService NumberPartitioningService;

<PageTitle>Akku Partitioner</PageTitle>

<div class="noprint">
    <h1>Akku Partitioner</h1>
    
    <NumberOverview />
    <GridInput />
</div>

@if (NumberPartitioningService.IsCalculated)
{
    <hr class="noprint" />
    <div class="mt-4">
        <Result />  
    </div>
}

@code {
    protected override void OnInitialized()
    {
        base.OnInitialized();
        NumberPartitioningService.CalculatedChanged += (o, args) => this.StateHasChanged();
    }
}